@import url('https://fonts.googleapis.com/css?family=DM+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic');

body{
    font-family: "DM Sans";
}

h4,h6{
    color: hsl(38, 61%, 73%);
}

#mg{
    margin-bottom: 0.5rem;
}

.pt{
    opacity: 30%;
    padding-bottom: 1%;
}